#navbar {
	z-index: 1010;
}

/* Map */
.container-map {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

@media (min-width: 576px) {
	#map {
		top: 56px;
	}
}

@media (max-width: 576px) {
	#map {
		top: 0;
	}
}

.leaflet-bar span.fa {
	line-height: 30px;
}


/* Bottom dock */
#dock {
	position: absolute;
	bottom: 0;
	z-index: 1001;
}

.dock-bg {
	display: inline-block;
	background-color: #f0f0f0;
	min-width: 150px;
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #aaa;
	padding: 10px;
}


/* Bottom menu */
.km-bottom-menu {
	padding: 10px;
	font: 14px/16px Arial, Helvetica, sans-serif;
}

.km-bottom-menu-close {
	float: right;
	cursor: pointer;
	background-color: #eee;
	color: #333;
}

.km-missing-theme {
	vertical-align: middle;
	cursor: pointer;
	height: 42px;
	max-width: 42px;
	margin: 5px;
	background-color: #eee;
	border: 3px solid #cecece;
	border-radius: 23px;
	padding: 3px;
}

.km-missing-theme:hover {
	background-color: #ddd;
}

@media (min-width: 576px) {
	.km-bottom-menu {
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
		background: white;
	}

	.km-bottom-menu h3 {
		margin-right: 40px;
	}

	.km-bottom-menu-close {
		border-radius: 25px;
		padding: 8px;
		font-size: 13px;
	}
}

@media (max-width: 576px) {
	.km-bottom-menu {
		background: #fbfbfb;
		z-index: 1004;
		padding: 20px;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: 0;
		margin: 0 !important;
		border-top: 3px solid #ccc;
	}

	.km-bottom-menu-close {
		border-radius: 25px;
		padding: 10px;
		font-size: 15px;
	}

	.km-missing-themes-imgs {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}
}


/* Color legend */
.km-legend {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

@media (max-width: 576px) {
	.km-legend {
		padding: 4px 0;
	}
}

.km-legend-entry {
	display: block;
}

.km-legend-info {
	font-size: 2em;
}


/* Responsive behaviour */
@media (max-width: 576px) {
	.km-r-desktop {
		display: none;
	}
}

@media (min-width: 576px) {
	.km-r-mobile {
		display: none;
	}
}


/* Icon dock */
.icon-dock {
	display: inline-flex;
	border-bottom-left-radius: 30px;
	position: absolute;
	right: 0;
}

.icon-dock.icon-dock-top {
	height: 36px;
	background-color: rgba(70, 70, 70, 0.75);
	padding: 0 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	z-index: 1007;
}

.icon-dock.icon-dock-right {
	width: 36px;
	background-color: rgba(151, 151, 151, 0.85);
	padding: 10px 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	z-index: 1005;
}

.icon-dock-brand {
	flex-grow: 2;
	text-align: left;
	line-height: 36px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

@media (min-width: 576px) {
	.icon-dock.icon-dock-top {
		top: 56px;
	}

	.icon-dock.icon-dock-right {
		top: 92px;
	}
}

@media (max-width: 576px) {
	.icon-dock.icon-dock-top {
		top: 0;
		left: 0;
		border-bottom-left-radius: 0px;
		padding-left: 10px;
	}

	.icon-dock.icon-dock-right,
	.leaflet-control-container .leaflet-top.leaflet-left {
		top: 36px;
	}
}

.icon-dock a {
	height: 42px;
	width: 42px;
	margin: 5px;
	transition: height 0.2s, width 0.2s;
	background-color: #c8c8c8;
	border: 3px solid #2f2f2f;
	border-radius: 23px;
	padding: 3px;
	box-shadow: 0 3px 5px #827b7b;
}

.icon-dock a img {
	height: 100%;
	max-width: 100%;
}

.icon-dock a:hover,
.icon-dock a.icon-dock-active {
	height: 48px;
	width: 48px;
}

.icon-dock.icon-dock-top a.icon-dock-active {
	background-color: #B1D7FF;
	border: 4px solid #0057AF;
}

.icon-dock.icon-dock-right a.icon-dock-active {
	background-color: #FFD3B1;
	border: 3px solid #FF9213;
}


/* About modal */
#legend-modal-map {
	line-height: 16px;
}

#legend-modal-themes {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: center;
	justify-content: flex-start;
}

.km-about-theme-entry {
	margin-right: 15px;
	font-size: 0.9em;
}

.km-about-theme-entry img {
	height: 30px;
	max-width: 30px;
}
